# Uploaded photos must never be executed as code.
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .phar
RemoveType .php .phtml
<FilesMatch "\.(php|phtml|phar|php[0-9])$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
Options -Indexes -ExecCGI
